* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  /* position: relative; */
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
  list-style: none;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* GRID */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.5rem;
}

/* HEADER */
.header {
  background: #2b2b2b;
  position: fixed;
  width: 100%;
}
.header .branding h3 {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 600;
}
.header .branding h3 span {
  color: #ffa700;
}
.header .branding {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header .header__nav ul li a {
  color: #ffffff;
  font-size: 1.8rem;
}
.header .header__nav ul {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.header .header__nav ul li:hover a {
  color: #ffa700;
}
.header .header__nav ul li:hover {
  scale: 1.1;
  transition: 0.5s ease;
}
.header .header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .toggle__menu {
  display: none;
}
.header .toggle__menu span {
  width: 3rem;
  height: 0.3rem;
  border-radius: 5rem;
  background-color: #ffa700;
  display: block;
  transition: 0.5s ease;
}
.header .toggle__menu span:nth-child(2) {
  margin: 0.5rem 0;
}
.header .toggle__menu.open span:first-child {
  transform: translateY(8px) rotate(225deg);
  transition: 0.5s ease;
}
.header .toggle__menu.open span:nth-child(2) {
  opacity: 0;
}
.header .toggle__menu.open span:last-child {
  transform: translateY(-8px) rotate(-225deg);
  transition: 0.5s ease;
}
.header .header__nav.open {
  right: 0rem;
  transition: 0.5s ease;
}
/* HEADER MOBILE VIEW */
@media screen and (max-width: 500px) {
  .header .header__nav {
    background: #2b2b2b;
    position: absolute;
    right: -100rem;
    top: 8rem;
    width: 100%;
    height: 100vh;
    padding-top: 10rem;
  }
  .header .header__nav ul {
    display: flex;
    flex-direction: column;
  }
  .header .branding img {
    width: 5rem;
  }
  .header .toggle__menu {
    display: block;
  }
}

/* BANNER */
.banner {
  padding-top: 13rem;
  padding-bottom: 5rem;
  background: #ffffff;
}
.banner .banner__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
}
.banner .banner__text h1 {
  font-size: 10rem;
  font-weight: 800;
  color: #ffa700;
  line-height: 1;
}
.banner .banner__text p {
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: justify;
}
.banner .banner__social {
  display: flex;
  flex-direction: row;
  padding: 2.5rem;
  gap: 5rem;
  color: #ffa700;
}
@media screen and (max-width: 500px) {
  .banner {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .banner .banner__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .banner .banner__text {
    order: 2;
  }
  .banner .banner__text h1 {
    font-size: 3rem;
    text-align: center;
  }
  .banner .banner__text a {
    display: flex;
    width: fit-content;
  }
  .banner img {
    width: 20rem;
    margin: 0 auto;
  }
}
/* ABOUTME */
.aboutme .aboutme__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
}
.aboutme .aboutme__wrapper :nth-child(1) {
  order: 2;
}
.aboutme .aboutme__text h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #ffa700;
  line-height: 5;
}
.aboutme .aboutme__text p {
  margin-bottom: 3rem;
  text-align: justify;
}
/* MobileView */
@media screen and (max-width: 500px) {
  .aboutme {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .aboutme .aboutme__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .aboutme .aboutme__text h1 {
    font-size: 27px;
    text-align: center;
  }
  .aboutme img {
    width: 20rem;
    margin: 0 auto;
  }
}

/* SRVC */
.srvc {
  background-color: #2b2b2b;
  padding: 5rem 0;
}
.srvc .srvc__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8rem;
}
.srvc .srvc__card {
  text-align: center;
}
.srvc .srvc__card i {
  color: #ffa700;
  font-size: 5rem;
}
.srvc .srvc__card h4 {
  color: #ffa700;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 2rem 0;
}
.srvc .srvc__card p {
  color: #ffffff;
  margin-bottom: 5rem;
  text-align: justify;
}

@media screen and (max-width: 500px) {
  .srvc .srvc__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 2rem;
    gap: 15rem;
  }
}

/* LATEST */
.latest {
  background-color: #2b2b2b;
  padding: 5rem 0;
}
.latest .latest__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
}
.latest .latest__title h2 {
  color: #ffa700;
  font-size: 5rem;
  font-weight: 600;
}
.latest .latest__title p {
  color: #ffffff;
  font-size: 2.5rem;
}
.latest .latest__title {
  margin-bottom: 8rem;
}
.latest .latest__card {
  background-color: #ffffff;
  border-radius: 2rem;
}
.latest .latest__text {
  padding: 1.5rem 2rem;
}
.latest .latest__text h4 {
  color: #ffa700;
  font-weight: 600;
}
.latest .latest__text p {
  margin-top: 2rem;
  margin-bottom: 4rem;
}
.latest .latest__text a {
  color: #ffa700;
}
@media screen and (max-width: 500px) {
  .latest .latest__title {
    text-align: center;
  }
  .latest .latest__title h2 {
    font-size: 4rem;
  }
  .latest .latest__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .latest .latest__card {
    margin: 0 2rem;
  }
  .latest .latest__card img {
    width: 100%;
  }
}

/* FREE */
.free {
  background-color: #ffa700;
  padding: 5rem 0;
}
.free .free__wrapper {
  display: grid;
  text-align: center;
}
.free h3 {
  font-size: 2rem;
  font-weight: 600;
}
.free p {
  color: #2b2b2b;
  margin-bottom: 5rem;
}
.free a {
  font-size: 1rem;
  color: #ffffff;
  background-color: #2b2b2b;
  border-radius: 2rem;
  padding: 1.5rem 2rem;
  max-width: 110px;
  margin: 0 auto;
}
.free .free__wrapper a:hover {
  scale: 1.1;
}

/* FOOTER SECTIOON*/
.footer {
  background: #2b2b2b;
  width: 100%;
}
.footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer .footer__social {
  display: flex;
  flex-direction: row;
  padding: 2.5rem;
  gap: 5rem;
}
.footer .footer__wrapper ul li a {
  color: dimgray;
  font-size: 2.5rem;
}
.footer .footer__wrapper ul {
  display: flex;
  gap: 1.25rem;
}
.footer p {
  color: dimgray;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .footer .footer__wrapper {
    display: flex;
    flex-direction: column;
  }
  .footer .footer__wrapper ul {
    padding-top: 1.5rem;
  }
}

/* ABOUTS */
.abouts {
  padding-top: 13rem;
  padding-bottom: 5rem;
  background: #ffffff;
}
.abouts .abouts__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
}
.abouts .abouts__text h1 {
  font-size: 10rem;
  font-weight: 800;
  color: #ffa700;
  line-height: 1;
}
.abouts .abouts__text p {
  margin-top: 5rem;
  margin-bottom: 3rem;
  text-align: justify;
}
.abouts .abouts__social {
  display: flex;
  flex-direction: row;
  padding: 2.5rem;
  gap: 5rem;
  color: #ffa700;
}
.abouts .abouts__text ul li a {
  color: #ffa700;
  font-size: 2.5rem;
}
.abouts .abouts__text ul {
  display: flex;
  gap: 2rem;
  padding-top: 0.25rem;
}
.abouts .nyarow {
  color: #ffa700;
  display: block;
  margin: 2rem auto;
  padding: 1rem;
  background-color: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 4rem;
}
@media screen and (max-width: 500px) {
  .abouts {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .abouts .abouts__wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .abouts .abouts__text {
    order: 2;
  }
  .abouts .abouts__text h1 {
    font-size: 3rem;
    text-align: center;
  }
  .abouts .abouts__text p {
    font-size: 1.5rem;
  }
  .abouts .abouts__text p:first-child {
    margin-bottom: 0.5rem;
    font-size: 15px;
    text-align: center;
  }
  .abouts .abouts__text {
    justify-items: center;
  }
  .abouts .abouts__text a {
    display: flex;
    width: fit-content;
  }
  .abouts img {
    width: 25rem;
    margin: 0 auto;
  }
}

/* ADW */
.adw {
  padding-top: 10rem;
  padding-bottom: 2rem;
  background: #ffffff;
}
.adw .adw__wrapper {
  display: flex;
  align-items: center;
  max-width: 117rem;
  margin: 0 auto;
  gap: 15rem;
}

.adw .adw__text h1 {
  font-size: 5rem;
  padding-bottom: 2rem;
  font-weight: 800;
  color: #ffa700;
}
.adw .adw__text p {
  text-align: justify;
  margin-bottom: 0;
  margin-top: 2rem;
}
.adw .adw__text h2 {
  font-size: 4rem;
  font-weight: 200;
  color: #ffa700;
}
.adw .adw__text h6 {
  font-size: 1rem;
  color: #2b2b2b;
}
.adw img {
  padding-left: 8rem;
  padding-top: 7rem;
  padding-bottom: 3.5rem;
}
.services:nth-child(even) {
  background-color: #2b2b2b;
  color: #ffffff;
}
.services:nth-child(even) h6 {
  color: #ffffff;
}
.services:nth-child(even) .adw__wrapper {
  flex-direction: row-reverse;
}
.services .nyarow {
  color: #ffa700;
  display: block;
  margin: 2rem auto;
  padding: 1rem;
  background-color: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
  font-size: 4rem;
}
.adw .services:last-child .nyarow {
  display: none;
}

/* ADW MV */
@media screen and (max-width: 500px) {
  .adw {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
  }
  .adw .adw__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 2rem;
  }
  .adw .adw__text {
    order: 2;
  }
  .adw .adw__text h1 {
    font-size: 5rem;
    text-align: center;
    font-size: 4rem;
  }
  .adw .adw__text p {
    text-align: justify;
  }
  .adw img {
    width: 25rem;
    margin: 6rem;
  }
}

.update .container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .trend__wrapper {
    flex: 3;
  }

  .sidepannel {
    flex: 1;
  }

  .trend__post {
    margin-bottom: 30px;
  }

  .sidepannel .category {
    margin-bottom: 20px;
  }

  .sidepannel .category ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .sidepannel .category ul li {
    list-style: none;
    display: flex;
    align-items: center;
  }

  .sidepannel .tags ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .sidepannel .tags ul li {
    list-style: none;
    display: flex;
    align-items: center;
  }
  /* Recent Posts */
  .RecentPost__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .RecentPost__item img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-right: 15px;
  }

  .RecentPost__item__text h5 {
    font-size: 16px;
    margin: 0;
    color: #333;
  }

  .RecentPost__item__text p {
    font-size: 14px;
    color: #666;
  }
  /* update */
  .update .container {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    padding-top: 18rem;
    gap: 5rem;
  }

  .trend__wrapper {
    flex: 3;
  }

  .intro {
    color: #ffa700;
    font-size: 5rem;
    font-weight: 600;
  }

  .parabola {
    padding-bottom: 2rem;
  }

  .trend__post ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .trend__post ul li {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
  }

  .trend__post ul li a {
    text-decoration: none;
    color: #333;
  }

  .trend__post h2 {
    color: #ffa700;
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 4rem;
  }
  .trend__post p {
    max-width: 719px;
  }

  .separator {
    border: 0;
    border-top: 3px solid #ccc;
    margin: 20px 0;
    max-width: 719px;
  }

  .sidepannel {
    flex: 1;
    padding-top: 15rem;
  }

  .recent__items {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
  }

  .recent__items img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .recent_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .recent_text a {
    font-weight: bold;
    color: #333;
    text-decoration: none;
    margin-bottom: 5px;
  }

  .recent_text p {
    color: #666;
    font-size: 0.9rem;
  }

  .trend__post {
    margin-bottom: 30px;
  }

  .trend__post a {
    color: #ffa700;
  }

  .trend__post p {
    padding-bottom: 3rem;
  }

  .sidepannel .category {
    margin-bottom: 20px;
  }

  .trend__post img {
    padding-top: 5rem;
    padding-bottom: 1rem;
  }
  .sidepannel .category ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .sidepannel .category ul li a {
    margin: 1rem;
    color: #2b2b2b;
    display: flex;
  }

  .sidepannel .category_title h2 {
    color: #ffa700;
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  .sidepannel .tags ul {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }

  .sidepannel .tags ul li {
    list-style: none;
    display: flex;
    align-items: center;
  }
  .tags a {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #2b2b2b;
    color: #2b2b2b;
    text-decoration: none;
    margin: 5px;
    border-radius: 4rem;
    transition: all 0.3s ease;
  }
  .tags h3 {
    color: #ffa700;
    font-size: 2rem;
  }
  .tags a:hover {
    background-color: #2b2b2b;
    color: white;
  }

  .tags a {
    display: flex;
    flex-direction: row;
  }

  .Recentpost h3 {
    font-size: 2rem;
    color: #ffa700;
    padding-bottom: 4rem;
  }
  .sidepannel .category_title table {
    width: 100%;
  }
  .sidepannel .category_title table tr {
    height: 5rem;
  }

  /* UPDATEMV */
  @media screen and (max-width: 500px) {
    .update .container {
      display: block;
      padding-top: 10rem;
    }

    .trend__wrapper {
      flex: none;
      margin-bottom: 2rem;
    }

    .sidepannel {
      flex: none;
      margin-top: 2rem;
      padding-top: 0;
    }

    .trend__post h2 {
      font-size: 1.5rem;
    }

    .trend__post p {
      font-size: 0.9rem;
      padding-bottom: 1.5rem;
    }

    .sidepannel .category ul,
    .sidepannel .tags ul {
      flex-direction: row;
      padding-right: 1rem;
    }

    .sidepannel .category ul li,
    .sidepannel .tags ul li {
      margin: auto;
    }

    .recent__items {
      flex-direction: row;
      align-items: center;
    }

    .recent__items img {
      width: 30%;
      height: auto;
    }

    .recent_text a {
      font-size: 1rem;
    }

    .tags a {
      font-size: 1rem;
      padding: 6px 12px;
    }

    .sidepannel .category_title h2,
    .tags h3 {
      font-size: 1.5rem;
    }

    .separator {
      margin: 1.5rem 0;
    }
  }

  .contact {
  padding: 2rem;
  background-color: #2b2b2b;
  padding-top: 16rem;
  padding-bottom: 5.9rem;
}
.contact__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 2.5rem;
}
.contact__wrapper {
  flex: 1;
  margin-right: 6rem;
}
.contact__title h2 {
  color: #ff9900;
  font-size: 4.5rem;
  margin-bottom: 2.5rem;
  font-weight: 600;
}
.contact__title p {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 4rem;
}
.contact__details td {
  color: white; 
}
.contact__details td i {
  color: #ffa700; 
}
.contact__details td {
  padding: 0 5px; 
  color: white;   
  padding-bottom: 3rem;
}
.contact__details td i {
  color: #ffa700 
}
.contact__line {
  border: 0;
  border-top: 2px solid #cccccc;
  margin-bottom: 4rem;
}
.contact__horizontal ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1.25rem;
}
.contact__horizontal ul li {
  display: inline-block;
}
.contact__horizontal ul li a {
  color: #ffffff;
  font-size: 3rem;
  text-decoration: none;
}
.contact__details ul li {
  gap: 3rem;
  display: flex;
  align-items: center;
  margin: 1.25rem 0;
  color: #ffa700;
}
.contact .contact__title table tr {
  padding-left: 10rem;
}
.contact .contact__title table {
  height: 10rem;
}
.contact .contact__horizontal {
  color: #ffffff;
}
.contact__details .icon {
  margin-right: 1.25rem;
}
.contact__form {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.contact__form label {
  font-size: 1.75rem;
  margin-bottom: 0.625rem;
}
.contact__inputs {
  background-color: #f2f2f2;
  border: none;
  padding: 1.25rem;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  width: 100%;
}
.contact__inputs {
  background-color: #f2f2f2;
  border: none;
  padding: 1.25rem;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  width: 100%;
  border-radius: 10px; 
}
.submit {
  background-color: #ff9900;
  color: #ffffff;
  border: none;
  padding: 1rem 3rem; 
  font-size: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: auto; 
  display: block;
  text-align: right;
  border-radius: 5rem;
}
.submit:hover {
  background-color: #ffffff;
  color: #000000;
}
#message {
  height: 200px; 
  font-family: ;
}
.popup.hidden {
  display: none;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-content {
  background: white;
  padding: 2rem;
  text-align: center;
  border-radius: 5px;
}
.popup-close {
  background-color: #ff9900;
  border: none;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.popup-close:hover {
  background-color: #e68a00;
}
.contact {
  border-bottom: 1px solid #ffffff;
}

/* REPEATABLE PATTERNS */
.backToTop {
  position: fixed;
  z-index: 999;
  bottom: 5rem;
  right: 5rem;
  display: none;
}
.backToTop a{
  background: #ffa700;
  padding: 1rem;
  border-radius: 5rem;
  color: #2b2b2b;
}
.btn {
  display: inline-block;
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  color: #ffffff;
}
.btn:hover {
  scale: 1.1;
}
.btn.bg--primary {
  background: #ffa700;
}
